body {
    text-align: center;
    font-size: 14px;
    font-family: arial, sans-serif;
}

a {
    color: #70757a;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

footer {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: flex-end;
    justify-content:space-between;
    margin-top: 20em;
    color: #70757a;
}

form {
    display: inline-block;
    margin-top: 2em;
}

#search {
    width: 530px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("Images/search_black_24dp.svg");
    background-position: 10px 6px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border-radius: 3%;
}

li {
    display: inline;
    padding-left: 1em;
}

#logo {
    display: block;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 272px;
    height: 92px;
}

#left-footer {
    margin-left: -3em;
}

#right-footer {
    margin-right: 1em;
}

.black {
    color: black;
}

.blue-background-white-color {
    padding: 0.7em 1.5em 0.7em 1.5em;
    color: white;
    background-color: #1a73e8;
    border-radius: 7%;
    
}

.blue-background-white-color:hover {
    background-color:#2a85fd;
    text-decoration: none;
}

#apps {
    vertical-align: middle;
    padding: 0.4em;
}
#apps:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05);
}

#middle-div {
    display: flexbox;
}

.middle-button {
    background-color: rgba(0, 0, 0, 0.03);
    margin: 2em 1em 0 1em;
    padding: 0.7em 1.5em 0.7em 1.5em;
    font-size: 14px;
    border-color: rgba(0, 0, 0, 0.05);

}

.middle-button:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.middle-button:active {
    background-color: rgba(0, 0, 0, 0.1);
}